@import "./global-vars.scss";
@import "./fonts.scss";

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Inter;
  font-weight: 100;
  width: 100vw;
}

img {
  user-select: none;
  pointer-events: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

section {
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient($pink, $purple);
}

.hero {
  color: white;
  padding: 2rem 3rem;
  height: 100vh;
  height: 100svh;
  position: relative;

  &__header {
    display: flex;
    align-items: left;
    gap: 1rem;
  }

  &__logo-wrapper {
    background-color: white;
    display: inline-block;
    padding: 0.2rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }

  &__logo {
    height: 5rem;
  }

  &__titles-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 2.7rem;
    margin: 0;
    padding: 0;

    & * {
      margin: 0;
      padding: 0;
    }
  }

  &__subtitle {
    font-weight: 100;
    opacity: 0.8;
    margin: 0;
    margin-top: 1rem;
  }

  &__main-content {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }

  &__main-pic {
    width: 55%;
  }

  &__non-imgs-container {
    position: relative;
    width: 28%;
  }

  &__buttons-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  &__sunflowers-row {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    overflow: hidden;
    width: 100vw;
    white-space: nowrap;
  }

  &__sunflower {
    height: 8rem;
  }
}

.section {
  box-sizing: border-box;
  padding: 2.5rem;
  overflow: hidden;

  &--intro {
    height: 105vh;
    height: 105svh;
  }

  &--features {
    height: 100vh;
    height: 100svh;
  }

  &--options {
    overflow: hidden;
    position: relative;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 200;
    color: white;
    z-index: 3;
  }

  &--blanco {
    background-color: $white;

    &__title {
      color: $black;
    }
  }

  &--test {
    height: 100vh;
  }
}

.sunflowerseeds-fog {
  height: 80%;
}

.button {
  padding: 0.7rem;
  border-radius: 6px;
  border: 2px solid $white;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;

  &--main {
    color: $pink;
    background-color: $white;
  }

  &--secondary {
    color: white;
    background-color: rgba($white, 0.2);
  }

  &--wide {
    max-width: 20rem;
    width: 100%;
    box-sizing: border-box;
  }

  &--center {
    display: block;
    margin: auto;
  }

  &:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }

  &:active {
    transform: scale(0.99);
    transition: all 0.2s;
  }
}

.fancy {
  font-family: "Italianno";
  font-size: 5rem;
  font-weight: normal;
}

.screens-carousel {
  white-space: nowrap;
  height: 40rem;
  width: 100%;

  &__pic {
    height: 100%;
    margin-left: 12rem;
  }
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  grid-row-gap: 10rem;
  width: 90%;
  margin: auto;
  margin-top: 7rem;

  &__opcion {
    width: 70%;
    display: block;
    margin: auto;
  }

  &__lbl {
    color: $white;
    font-size: 1.35rem;
  }

  &__input {
    -webkit-appearance: none;
    margin-top: 1.3rem;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 4px;
    background: #f1f1f1;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: $black;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
  }

  &__input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: $black;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
  }
}

.word-change {
  background-color: $black;
  padding: 0.2rem 0.5rem;
  border-radius: 7px;
  color: $white;
  transition: all 0.1s;

  &--active {
    background-color: $purple;
    transition: all 0.1s;
  }
}

.deco-gear {
  opacity: 0.25;
  position: absolute;
  display: none;
  top: 0;
  user-select: none;
  pointer-events: none;
  z-index: 0;

  &--1 {
    top: -4rem;
    right: 15rem;
  }

  &--2 {
    top: 15rem;
    left: 3rem;
  }

  &--3 {
    left: 15rem;
  }

  &--4 {
    top: 3rem;
    right: 15rem;
  }
}

.highlight-letters {
  display: block;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 4rem;
  width: 35%;
  min-width: 25rem;

  &__title {
    display: block;
    position: relative;
    margin-bottom: 1rem;
  }

  &__lbl {
    font-size: 1.5rem;
    margin-left: 12px;
    color: white;
  }

  &__sample-text {
    height: 13rem;
    background-color: white;
    font-size: 2rem;
    border-radius: 12px;
    padding: 0.7rem 0.9rem;
  }
}

.switch {
  position: absolute;
  display: inline-block;
  right: 12px;
  width: 60px;
  height: 34px;

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.deco {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 300px;
}

.deco:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch__checkbox:checked+.deco:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: $pink;
}

.letra-b {
  transition: all 0.3s;

  &--active {
    transition: all 0.3s;
    color: rgb(207, 57, 57);
  }
}

.letra-d {
  transition: all 0.3s;

  &--active {
    transition: all 0.3s;
    color: rgb(66, 187, 66);
  }
}

.paragraph {
  font-size: 1.5rem;
  opacity: 0.8;

  &--white {
    color: white;
  }

  &--half-width {
    width: 45%;
  }
}

.alternatives-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 5rem;
  justify-content: center;
  gap: 10vw;

  &__li {
    text-align: center;
  }

  &__img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    height: 8rem;
    border-radius: 7px;
    max-width: 10rem;
  }

  &__link {
    padding: 1rem 1.3rem;
    background-color: $white;
    color: $purple;
    border-radius: 300px;
    text-decoration: none;
    transition: all 0.1s;
    white-space: nowrap;

    &:hover {
      transform: scale(1.02);
      transition: all 0.1s;
    }

    &:active {
      transform: scale(0.97);
      transition: all 0.1s;
    }
  }
}

.section-container {
  z-index: 2;
}

.features-explanation-wrapper {
  width: 50%;
}

.features-deco-img {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.section--features {
  display: flex;
  gap: 15%;
  overflow: hidden;
}


.features-wrapper {
  transform: translateY(5%);
}

.feature {
  max-width: 25rem;
  margin-top: 10rem;

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: lighter;
  }

  &__text {
    margin-top: 0;
    font-size: 1.2rem;
    opacity: .8;
    line-height: 1.7rem;
  }
}

.feature-trigger {
  border: none;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.5rem;
  background-color: $pink;
  transition: all .1s;

  &__img {
    display: block;
    height: 100%;

    &--white {
      filter: invert(100%);
    }
  }

  &:hover {
    transform: scale(1.03);
    transition: all .1s;
  }

  &:active {
    transform: scale(.97);
    transition: all .1s;
  }
}

.share-text-container {
  overflow-y: hidden;

  &__computer {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  &__text {
    display: block;
    font-size: 1.2rem;
    opacity: .9;
    width: 70%;
    margin: 4rem auto;
    transform: translateY(-200%);
  }
}

.ocr-container {
  position: relative;
  height: 40rem;


  &__whole-pic,
  &__cropped-pic {
    width: 130%;
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &__cropped-pic {

    clip-path: polygon(25% 20%, 82% 20%, 82% 70%, 25% 70%);
    z-index: 2;
  }

  &__scanned-text {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    transform: translate(-25%, -50%);
  }

  &__mobile-effect {
    display: none;
  }
}

.footer {
  background-color: $black;
  text-align: center;
  color: white;
  margin: 0;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__credits {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    opacity: .7;
    margin: 0;
  }

  &__copyright {
    display: block;
    margin: 0;
    font-weight: 200;
    opacity: .5;
    font-size: 1.2rem;
  }

  &__website {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 3rem;
    font-size: 1.5rem;
    opacity: .4;
  }
}


@media screen and (max-width: 1000px) {
  .hero {
    &__main-pic {
      width: 65%;
      margin-top: 2rem;
    }
  }

  .screens-carousel {
    margin-top: 5rem;

    &__pic {
      height: 80%;

      &:first-child {
        margin-left: 5rem;
      }
    }
  }

  .section--features {
    height: initial;
  }

  .features-explanation-wrapper {
    display: none;
  }

  .features-wrapper {
    width: 100%;
    transform: none;
  }

  .feature {
    max-width: initial;
  }

  .paragraph {
    &--half-width {
      width: 100%;
    }
  }

  .share-text-container {
    width: 100%;
    position: relative;
    overflow: hidden;

    &__computer {
      display: block;
      margin: auto;
      position: relative;
      width: 100%;

      &--2 {
        margin-top: 7rem;
        animation: share-text-change-pic 3s infinite;
      }
    }

    &__text {
      width: 75%;
      left: 15%;
      display: block;
      position: absolute;
      animation: share-text-move-text 3s infinite;
    }
  }

  @keyframes share-text-move-text {
    from {
      transform: translateY(-200%);
    }

    to {
      transform: translateY(150%);
    }
  }

  @keyframes share-text-change-pc {
    from {
      content: url("../imgs/mockup-portatil-vacio.png");
    }

    to {
      content: url("../imgs/mockup-portatil.png");
    }
  }

  .ocr-container {
    height: 35rem;
    position: relative;

    &__whole-pic,
    &__cropped-pic {
      width: auto;
      max-height: 100%;
      max-width: 100%;
    }

    &__scanned-text {
      width: 30%;
      display: none;
    }
  }

  #section-options + .scrollmagic-pin-spacer {
    padding: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    padding: 1.5rem;

    &__title {
      width: 100%;
    }

    &__logo-wrapper {
      display: none;
    }

    &__logo {
      display: none;
    }

    &__main-content {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    &__main-pic {
      width: 100%;
      margin-top: 0;
    }

    &__non-imgs-container {
      position: relative;
      width: 90%;
    }

    &__buttons-container {
      margin-top: 3rem;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      width: 100%;
    }

    &__sunflower {
      height: 5rem;
    }
  }

  .highlight-letters {
    width: 100%;
    min-width: initial;
  }

  .screens-carousel {
    margin-top: 5rem;

    &__pic {
      height: 40%;
    }
  }

  .options {
    display: block;
    width: 100%;

    &__opcion {
      margin-bottom: 5rem;
    }
  }

  .section__computer {
    &--2 {
      margin-top: 12rem;
    }
  }


  .alternatives-list {
    display: block;
    text-align: center;
    margin-top: 5rem;

    &__li {
      text-align: center;
      margin-bottom: 5rem;
    }
  }
}